/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.custom-navbar {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
  min-height: 125px;
  margin-bottom: 0px;
  padding-top: 35px;
}

.fixed-nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 2px #a2a2a2;
  -moz-box-shadow: 0px 0px 8px 2px #a2a2a2;
  box-shadow: 0px 0px 8px 2px #a2a2a2;
}

.improwised-logo {
  margin-top: -25px;
  margin-bottom: 19px;
}

.navbar-toggle {
  background-color: black;
}

.navbar-margin-top {
  margin-top: 19px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #999999 !important;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 20px;
  letter-spacing: 1px;
  font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  border-top: 5px solid  #88b354;
  margin-top: -5px;
  color: #999999;
}

.active {
  margin-top: -5px;
  border-top: 5px solid  #88b354;
}

@media only screen and (max-width: 1199px) {

  .navbar-inverse .navbar-nav > li > a {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {

  .navbar-inverse .navbar-nav > li > a {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {

  .improwised-logo {
    width: 215px;
    margin-left: 8px;
  }

  .active {
    margin-top: 0px;
    border-top: none;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: #999999;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    letter-spacing: 1px;
  }

  .navbar-inverse .navbar-nav > li > a:hover {
    border-top: none;
    margin-top: 0px;
    color: white !important;
    background-color: #88b354;
  }
}










/*------------------------------------*\
    #CAROUSEL
\*------------------------------------*/

.margin-top-carousel {
  margin-top: 111px;
}

.tag {
  width: 100%;
  min-height: 500px;
  background-color: #2bafd8;
}

.h1style {
  font-size: 9.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: white;
  padding-top: 120px;
}

.h2style {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #c8ebeb;
  letter-spacing: 1px;
}

.btn-modified {
  font-size: 1.5em;
  letter-spacing: 1px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

.btn-modified-carousel {
  background-color: transparent;
  border: 2px solid white;
}

.btn-modified-carousel:hover,
.btn-modified-carousel:active,
.btn-modified-carousel:visited,
.btn-modified-carousel:focus {
  background-color: transparent;
  border: 2px solid #157692;
}

@media only screen and (max-width: 1199px) {
  .h1style {
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: white;
    padding-top: 170px;
  }
}

@media only screen and (max-width: 1080px) {
  .h1style {
    font-size: 8em;
  }
}

@media only screen and (max-width: 991px) {
  .h1style {
    font-size: 5em;
    padding-top: 190px;
  }
}

@media only screen and (max-width: 910px) {
  .h1style {
    font-size: 7em;
  }
}

@media only screen and (max-width: 796px) {
  .h1style {
    font-size: 5em;
  }

  .h2style {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 767px) {
  .margin-top-carousel {
    margin-top: 105px;
  }
}

@media only screen and (max-width: 580px) {
  .tag {
    min-height: 300px;
  }

  .h1style {
    font-size: 3em;
    padding-top: 34px;
  }

  .h2style {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 365px) {
  .tag {
    min-height: 300px;
  }

  .h1style {
    font-size: 2em;
    padding-top: 34px;
  }

  .h2style {
    font-size: 1.5em;
  }
}










/*------------------------------------*\
    #ALL-SECTION COMMON STYLE
\*------------------------------------*/

.section-margin {
  padding: 50px 0 50px 0;
  border-bottom: 5px solid #eee;
}

.section-icon-color {
  color: #2bafd8;
}

.section-title-style {
  color: #333333;
  font-size: 36px;
  margin: 15px 0 10px 0;
}

.color-happy {
  color: tomato;
}

.section-description {
  color: #696868;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

@media only screen and (max-width: 991px) {
  .section-margin {
    padding: 50px 0 50px 0;
  }
}

@media only screen and (max-width: 600px) {
  .section-title-style {
    font-size: 24px;
  }

  .section-description {
    font-size: 14px;
    text-align: center;
  }
}










/*------------------------------------*\
    #What We have Done
\*------------------------------------*/

.Portfolio-images {
  float: left;
}

.Portfolio-images img {
  height: 212px;
  width: 212px;
  background-color: black;
  margin: 5px;
}

@media only screen and (max-width: 505px) {
  .Portfolio-images {
    float: none;
  }
}










/*------------------------------------*\
    #Work With Us
\*------------------------------------*/

.btn-modified-apply-job {
  background-color: transparent;
  border: 3px solid #2bafd8;
  color: #2bafd8;
}

.btn-modified-apply-job:hover {
  background-color: transparent;
  border: 3px solid #88b354;
  color: #88b354;
}










/*-------------------------------------------------------------*\
    #We will be Happy to hear from you
\*-------------------------------------------------------------*/

.margin-top-before-map {
  margin-top: 10px;
}

.visible-xs-365px {
  display: none;
}

.address-xs {
  display: none;
}

.address {
  position: absolute;
  z-index: 100;
  background-color: rgba(0,0,0,0.9);
  padding: 20px;
  top: 110px;
  left: 65%;
  color: white;
  border-radius: 3px;
}

@media only screen and (max-width: 991px) {
  .address {
    top: 528px;
    left: 31.5%;
  }
}

@media only screen and (max-width: 767px) {
  .address-xs {
    display: block;
    background-color: rgba(0,0,0,0.8);
    width: 290px;
    padding: 15px;
    color: white;
    border-radius: 3px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 365px) {
  .visible-xs-365px {
    display: block;
  }
}










/*-------------------------------------------------------------*\
    #We are Happy to Stay Connected
\*-------------------------------------------------------------*/

.section-margin-with-no-border {
  padding: 50px 0 50px 0;
}

.fb {  color: #3B5998; }
.gh {  color: #171516; }
.g  {  color: #dd4b39; }
.t  {  color: #00aced; }
.ln {  color: #007bb6; }

.fb:hover {  color: #314f8e; }
.gh:hover {  color: #0d0b0c; }
.g:hover  {  color: #d3412f; }
.t:hover  {  color: #00a2e3; }
.ln:hover {  color: #0071ac; }










/*-------------------------------------------------------------*\
    #Footer
\*-------------------------------------------------------------*/

.footer {
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  color: #cacaca;
  background-color: #333333;
  padding: 15px 0 10px 0;
}









