<!doctype html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class=" " data-smooth-scroll-offset='64'>
        <a id="start"></a>
        {{ partial "navigation.html" . }}
        <div class="main-container">
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="type--uppercase">Introducing Stack</h6>
                            <div class="typed-headline">
                                <span class="h1 inline-block">The template for</span>
                                <span class="h1 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="bootstrapped startups.,marketing sites., portfolios.,blogging.,rapid development.,small business.,showcasing products., the design conscious."></span>
                            </div>
                            <p class="lead">
                                A robust, multipurpose template built with modularity at the core.
                            </p>
                            <a class="btn btn--primary type--uppercase inner-link" href="/contact">
                                <span class="btn__text">
                                    Get in touch with us
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Services</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--lg color--primary icon-Idea-2"></i>
                                <h4>Consulting (Distributed, cloud-native applications)</h4>
                                <p>
                                    Consulting (Distributed, cloud-native applications)
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="feature feature--featured feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--lg color--primary icon-Upload-toCloud"></i>
                                <h4>Cloud Application Development</h4>
                                <p>
                                    Cloud Application Development
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--lg color--primary icon-Cloud-Laptop"></i>
                                <h4>Migrate existing project to cloud (Modernize existing application)</h4>
                                <p>
                                    Migrate existing project to cloud (Modernize existing application)
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Features / Our USP's</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="features-style">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Conference icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Customer first</h5>
                                    <p>
                                        even if it means recommending a ready-made software rather than hiring us to build a new one from scratch
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Magnifi-Glass icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Holistic Approach</h5>
                                    <p>
                                        We aim to ensure that all of your technical needs are met – from your server infrastructure to your databases to your code
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Repair icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Right tool for the job</h5>
                                    <p>
                                        Every business is different. We know how to build scalable, secure and maintainable applications using the right tools for the job. We stay current on the latest technologies and can help you select vendors, make informed build-or-buy decisions, and more.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Idea-3 icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Startup-minded team (Agile - move fast, DevOps - responsible from concept to deployment, Passionate)</h5>
                                    <p>
                                        We know technology is means to an end.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Eye-Visible icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Fully transparent</h5>
                                    <p>
                                        daily updates, available through Slack and email, progress visible in issue tracker
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Optimization icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Process Automation</h5>
                                    <!-- <p>
                                        We know technology is means to an end.
                                    </p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Technologies</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary technologies">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Backend</h3>
                                <hr>
                                <img src="img/technologies/laravel.png" alt="laravel">
                                <img src="img/technologies/node.png" alt="node">
                                <img src="img/technologies/php.png" alt="php">
                                <img src="img/technologies/python.png" alt="python">
                                <img src="img/technologies/go.png" alt="go">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Frontend</h3>
                                <hr>
                                <img src="img/technologies/html.png" alt="html">
                                <img src="img/technologies/css.png" alt="css">
                                <img src="img/technologies/js.png" alt="js">
                                <img src="img/technologies/bootstrap.png" alt="bootstrap">
                                <img src="img/technologies/angular.png" alt="angular">
                                <img src="img/technologies/react.png" alt="react">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Infrastructure</h3>
                                <hr>
                                <img src="img/technologies/linux.png" alt="linux">
                                <img src="img/technologies/nginx.png" alt="nginx">
                                <img src="img/technologies/docker.png" alt="docker">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Cloud</h3>
                                <hr>
                                <img src="img/technologies/digital_ocean.png" alt="digital_ocean">
                                <img src="img/technologies/google_cloud_platform.png" alt="google_cloud_platform">
                                <img src="img/technologies/amazon_web_services.png" alt="amazon_web_services">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Databases</h3>
                                <hr>
                                <img src="img/technologies/mariadb.png" alt="mariadb">
                                <img src="img/technologies/mongodb.png" alt="mongodb">
                                <img src="img/technologies/mysql.png" alt="mysql">
                                <img src="img/technologies/postgresql.png" alt="postgresql">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Others</h3>
                                <hr>
                                <img src="img/technologies/github.png" alt="github">
                                <img src="img/technologies/gitlab.png" alt="gitlab">
                                <img src="img/technologies/redis.png" alt="redis">
                                <img src="img/technologies/jenkins.png" alt="jenkins">
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Testimonials</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-10">
                            <div class="slider" data-paging="true">
                                <ul class="slides">
                                    <li>
                                        <div class="testimonial">
                                            <blockquote>
                                                &ldquo;Working with the Improwised team has been a pleasure. They helped us get our software and business off the ground. We could not have gotten to where we are today without their help!&rdquo;
                                            </blockquote>
                                            <h5>Dave Stevens</h5>
                                            <span>CTO, Chartlytics.com</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial">
                                            <blockquote>
                                                &ldquo;Working with the Improwised team has been a pleasure. They helped us get our software and business off the ground. We could not have gotten to where we are today without their help!&rdquo;
                                            </blockquote>
                                            <h5>Dave Stevens</h5>
                                            <span>CTO, Chartlytics.com</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial">
                                            <blockquote>
                                                &ldquo;Working with the Improwised team has been a pleasure. They helped us get our software and business off the ground. We could not have gotten to where we are today without their help!&rdquo;
                                            </blockquote>
                                            <h5>Dave Stevens</h5>
                                            <span>CTO, Chartlytics.com</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="container">
                    <div class="row">
                        <div class="cta cta--horizontal text-center-xs">
                            <div class="col-sm-4">
                                <h4>Free Consultation</h4>
                            </div>
                            <div class="col-sm-5">
                                <p class="lead">
                                    Get in touch with us now
                                </p>
                            </div>
                            <div class="col-sm-3 text-right text-center-xs">
                                <a class="btn btn--primary type--uppercase" href="/contact">
                                    <span class="btn__text">
                                        Contact Us
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {{ partial "footer.html" . }}
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        {{ partial "scripts.html" . }}
    </body>
</html>
