<!doctype html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class=" " data-smooth-scroll-offset='64'>
        <a id="start"></a>
        {{ partial "navigation.html" . }}
        <div class="main-container">
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="type--uppercase">We are Improwised Technologies.</h6>
                            <div class="typed-headline">
                                <span class="h1 inline-block">We help you</span>
                                <span class="h1 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="engineer great products.,build applications for the cloud.,make the most of next-gen tech.,realize your product ideas."></span>
                            </div>
                            <p class="lead">
                                Your remote technology team.
                            </p>
                            <a class="btn btn--primary type--uppercase inner-link" href="/contact">
                                <span class="btn__text">
                                    Get in touch with us
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Our Services</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--lg color--primary icon-Idea-2"></i>
                                <h4>Technology Consulting</h4>
                                <p>
                                    We have passion for problem solving. We help startups and businesses move faster, and be more effective by identifying right tools and architecture for their software.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--lg color--primary icon-Optimization"></i>
                                <h4>Custom Application Development</h4>
                                <p>
                                    Our team has a long track record of engineering and maintaining scalable web applications; especially Software-as-a-Service (SaaS) applications.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--lg color--primary icon-Upload-toCloud"></i>
                                <h4>Cloud Migration</h4>
                                <p>
                                    Modernize existing applications for high availability, performance, security and maintainability while potentially reducing cost.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--lg color--primary icon-Gear-2"></i>
                                <h4>Devops</h4>
                                <p>
                                    Setting up and maintaining infrastructure to handle scale, reliability and performance of application for 24*7 at cost effective way.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="features-style">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Conference icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Customer first</h5>
                                    <p>
                                        We place your interests first, even if it means recommending a ready-made software rather than hiring us to build a new one from scratch.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Repeat-2 icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Holistic approach</h5>
                                    <p>
                                        We aim to ensure that all of your technical needs are met – from your server infrastructure to your databases to your code, while you focus on growing your business.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Repair icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Right tool for the job</h5>
                                    <p>
                                        Every business is different, and technology is just means to an end. We help you select the right vendors, make informed build-or-buy decisions, and more.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Idea-3 icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Startup-minded team</h5>
                                    <p>
                                        All our teams are responsible for their work from design to deployment and support. Additionally, we stay current on the latest technologies and help our clients benefit from the latest innovations in the industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Gears icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Process automation</h5>
                                    <p>
                                        Utilizing automation early on has a compounding effect on everything. Continuous Delivery, Monitoring and Alerting, Infrastructure-as-code etc. allows us to move faster.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Monitor-Analytics icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Fully transparent</h5>
                                    <p>
                                        We use tools like Slack to make sure communication between you and the tech team happens without any barriers, and everybody is always on the same page.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Our Toolbox</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary technologies">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Backend</h3>
                                <hr>
                                <img src="img/technologies/node.png" alt="node" title="Node.js">
                                <img src="img/technologies/php.png" alt="php" title="PHP">
                                <img src="img/technologies/laravel.png" alt="laravel" title="Laravel">
                                <img src="img/technologies/python.png" alt="python" title="Python">
                                <img src="img/technologies/go.png" alt="go" title="Go">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Frontend</h3>
                                <hr>
                                <img src="img/technologies/html.png" alt="html" title="HTML 5">
                                <img src="img/technologies/css.png" alt="css" title="CSS 3">
                                <img src="img/technologies/js.png" alt="js" title="JavaScript">
                                <img src="img/technologies/bootstrap.png" alt="bootstrap" title="Bootstrap">
                                <img src="img/technologies/angular.png" alt="angular" title="Angular.js">
                                <img src="img/technologies/react.png" alt="react" title="React">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Infrastructure</h3>
                                <hr>
                                <img src="img/technologies/linux.png" alt="linux" title="Linux">
                                <img src="img/technologies/nginx.png" alt="nginx" titl="nginx">
                                <img src="img/technologies/docker.png" alt="docker" title="Docker">
                                <img src="img/technologies/kubernetes.svg" alt="kubernetes" title="kubernetes">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Cloud</h3>
                                <hr>
                                <img src="img/technologies/amazon_web_services.png" alt="amazon_web_services" title="Amazon Web Services">
                                <img src="img/technologies/digital_ocean.png" alt="digital_ocean" title="DigitalOcean">
                                <img src="img/technologies/google_cloud_platform.png" alt="google_cloud_platform" title="Google Cloud Platform">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Databases</h3>
                                <hr>
                                <img src="img/technologies/postgresql.png" alt="postgresql" title="PostgreSQL">
                                <img src="img/technologies/mariadb.png" alt="mariadb" title="MariaDB">
                                <img src="img/technologies/mysql.png" alt="mysql" title="MySQL">
                                <img src="img/technologies/mongodb.png" alt="mongodb" title="MongoDB">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="text-center feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Others</h3>
                                <hr>
                                <img src="img/technologies/github.png" alt="github" title="Github">
                                <img src="img/technologies/gitlab.png" alt="gitlab" title="GitLab">
                                <img src="img/technologies/redis.png" alt="redis" title="Redis">
                                <img src="img/technologies/jenkins.png" alt="jenkins" title="Jenkins">
                                <img src="img/technologies/circleci.svg" alt="circleci" title="circleci">
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Testimonials</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-10">
                            <div class="slider" data-paging="true">
                                <ul class="slides">
                                    <li>
                                        <div class="testimonial">
                                            <blockquote>
                                                &ldquo;Working with the Improwised team has been a pleasure. They helped us get our software and business off the ground. We could not have gotten to where we are today without their help!&rdquo;
                                            </blockquote>
                                            <h5>Dave Stevens</h5>
                                            <span>CTO, Chartlytics.com</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="container">
                    <div class="row">
                        <div class="cta cta--horizontal text-center-xs">
                            <div class="col-sm-9">
                                <p class="lead">
                                    We will do our best to answer you within 24 hours or less.
                                </p>
                            </div>
                            <div class="col-sm-3 text-right text-center-xs">
                                <a class="btn btn--primary type--uppercase" href="/contact">
                                    <span class="btn__text">
                                        Contact Us
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {{ partial "footer.html" . }}
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active" title="click & go to top of the page">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        {{ partial "scripts.html" . }}
        {{ template "_internal/google_analytics_async.html" . }}
    </body>
</html>
