html, body {
  font-size: 16px;
}

/* extra css */

.display_flex{
  display: flex;
}

.align_self_center{
  align-self: center;
}

.fs-24 {
  font-size: 24px;
}

/* */
.lead {
  color: #494949;
}


/* navigaion */
.bar.navigation-style {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.bar.navigation-style .container .row{
  display: flex;
}

.logo-style,
.menu-style {
  align-self: center;
}

.logo-style .logo{
  height: 80px;
  max-height: 80px;
  top: -3px;
}


/* services */
.services .feature{
  padding: 15px;
}

.services .feature i.icon--lg + h4 {
  margin: 0;
}

.services .feature h4 + p {
  margin: 0 auto !important;
}


/* features */
.features-style .feature{
  min-height: 280px;
}

.features-style .feature p{
  min-height: auto;
}

/* technologies */
.technologies .feature{
  min-height: 330px;
}

.services .feature:hover {
  border: 1px solid #4a90e2;
}

.services .feature:hover.feature-3:after {
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  background: #4a90e2;
}

.technologies img{
  margin: 0 5px 15px 5px;
  max-height: 50px;
}

.travisci {
  background-color: #2EB459;
  border-radius: 50%;
  border: 2px solid #2EB459;
}

.w50 {
  width: 50px;
}

.w150 {
  width: 150px;
}

.whyUS .feature {
  min-height: 350px;
}

.markdown-body ul {
  list-style: inherit;
}

.markdown-body .technologyName {
  font-size: 20px;
  border-bottom: none;
}

.serviceHeader {
  border-bottom: 1px solid #eaecef;
  margin-bottom: 3.71428571em;
}

/* responsive */
@media screen and (max-width: 1199px) {
  /*.services .feature{
    min-height: 385px;
  }*/
  .technologies .feature{
    min-height: 330px;
  }
  .feature.feature-5 {
    min-height: 310px;
  }
}

@media screen and (max-width: 991px) {
  .bar.navigation-style .container .row{
    display: block;
  }
  .services .feature {
    min-height: auto;
  }

  .technologies .feature{
    min-height: auto;
  }

  .services .row div[class*='col-'] .feature.feature-3 {
    margin-bottom: 15px;
  }

  .services .feature.feature-3 p {
    min-height: auto;
  }

  .logo-style .logo {
    top: 4px;
  }
  .feature.feature-5 * {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }
  .feature.feature-5 {
    min-height: 500px;
  }
  .feature.feature-5 i {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .services .feature{
    min-height: auto;
  }
  .logo-style .logo {
      top: 0px;
      height: auto;
      max-height: 80px;
  }
  .feature.feature-5 {
    min-height: auto;
  }
}
