<div class="main-container">
            <section class="text-center imagebg space--lg" data-overlay="3">
                <div class="background-image-holder">
                    <img alt="background" src="/extraimages/6.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h1>About Us</h1>
                            <!-- <p class="lead">
                                An innovative collective of like-minded folks making useful and enduring technology products
                            </p> -->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-left">
                            <p class="lead">

                            Improwised Technologies is a leading IT company that is invented with a desire to develop innovative software solutions in 2011. Since then, the company is relentlessly working toward its goal of empowering its clients with the cutting edge solutions and proficient services.
                            <br>
                            <br>
                            With a vision of becoming a top software development company in its segment by providing the world class solutions and best in the industry services to its clients the Improwised Technologies has become one of the fastest growing software companies in India.
                            <br>
                            <br>

                            Two technopreneurs Rakshit Menpara and Shailesh Davara are the building blocks of this company and running it with the best industry standards and highest business values. The company has a team of passionate developers, designers and other IT engineers that help their clients in realizing the true potential of the products. The company is renowned for its cloud applications, and SaaS solutions. Furthermore, this top software company is a technical partner of many global companies by catering their technology support related needs.


                            <!-- <h2>Built on passion and ingenuity</h2>
                                Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates. -->
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <div class="col-lg-12 text-center">
                <h2>Why us?</h2>
                <br>
            </div>
            <section class="whyUS">
                <div class="container">
                    <div class="row">
                        {{ partial "why-us.html" . }}
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <div class="cta">
                                <h2>Want to know more about us?</h2>
                                <a class="btn btn--primary type--uppercase" href="/contact" title="contact ">
                                    <span class="btn__text">
                                        Get in Touch
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        {{ partial "footer.html" . }}

        </div>
