<div class="main-container">
  <div class="main-container">
    <section class="text-center height-50">
      <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-3 col-sm-12">
            <h1>Let's talk about your project</h1>
            <p class="lead">
              Visit us or make contact via the form below to talk more about your project, ideas or any others technical queries.
            </p>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <section class="switchable">
      <div class="container">
        <div class="row">
          <!--  -->
          <div class="col-md-5 col-sm-5">
            <div class="switchable__text">
              <h3 class="fs-24">304 - Pride Square, <br>
                Pushkardham Main Road, Nr. J. K. Chowk, <br>
                Rajkot - 360005, Gujarat, India.
              </h3>
              <p class="lead">
                We try to respond to all enquiries within 1 business day.
              </p>
              <p class="lead">
                We are open from 10am — 7pm on weekdays.
              </p>
            </div>
          </div>
          <!--  -->
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div id="errorMessages"></div>
              <div id="success">
                <div class="success-msg">
                  <b>Message has been sent successfully. We will contact within 1 business day.</b>
                </div>
              </div>
              <form action="{{ .Site.Params.API_URL }}" id="contactus-submit">
                <input type="hidden" name="sitekey" id="sitekey" value="{{ .Site.Params.SITE_KEY}}" />
                <div class="col-sm-6 col-xs-12">
                  <label for="name">Your Name:</label>
                  <input type="text" class="validate-required" id="name" name="name" required="required">
                </div>
                <div class="col-sm-6 col-xs-12">
                  <label for="email">Email Address:</label>
                  <input type="email" class="validate-required validate-email" id="email" name="email" required="required">
                </div>
                <div class="col-xs-12">
                  <label for="message">Message:</label>
                  <textarea type="textarea" class="validate-required" id="message" name="message" rows="4" required="required"></textarea>
                </div>
                <div class="col-xs-12">
                  <div id="recaptcha"></div>
                </div>
                <div class="col-xs-12">
                  <button type="submit" class="btn btn--primary type--uppercase" id="btn-submit" disabled="disabled">Send Enquiry</button>
                </div>
              </form>
            </div>
            <!--end of row-->
          </div>
        </div>
        <!--end of row-->
      </div>
      <section class="switchable" style="padding-bottom: 0;"></section>
      <div class="container">
        <div class="row">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.6509218365454!2d70.78636435101201!3d22.29120934878471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca22a0751231%3A0x23edc234940c18b2!2sImprowised+Technologies+Private+Limited.!5e0!3m2!1sen!2sin!4v1495780225620" width="600" height="530" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <!--end of container-->
    </section>
    {{ partial "footer.html" . }}
  </div>
  <!--<div class="loader"></div>-->
  <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
  </a>
</div>
