    <link rel="stylesheet" type="text/css" href="/css/markdown.css">
        <div class="main-container about-us">
      <section style="min-height: calc(100vh - 318px)">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <article class="markdown-body">
                <div>
                  {{.Content}}
                </div>
              </article>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
        {{ partial "footer.html" . }}

        </div>
