<div class="nav-container ">
    <div class="bar bar--sm visible-xs logo-style">
        <div class="container">
            <div class="row display_flex">
                <div class="col-xs-6 col-sm-2 align_self_center">
                    <a href="/">
                        <img class="logo logo-dark" alt="logo" src="/img/logo.png" />
                    </a>
                </div>
                <div class="col-xs-6 col-sm-10 text-right align_self_center">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm navigation-style" data-scroll-class='366px:pos-fixed'>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 hidden-xs logo-style">
                    <div class="bar__module">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="/img/logo.png"/>
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-md-9 col-sm-12 text-right text-left-xs text-left-sm menu-style">
                    <div class="bar__module">
                        <a class="btn btn--sm btn--primary type--uppercase contact-us-style" href="/contact">
                            <span class="btn__text">
                                Contact Us
                            </span>
                        </a>
                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>