<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async></script>

{{ if ne .Site.Params.env "production" }}
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/flickity.min.js"></script>
  <script src="/js/easypiechart.min.js"></script>
  <script src="/js/parallax.js"></script>
  <script src="/js/typed.min.js"></script>
  <script src="/js/datepicker.js"></script>
  <script src="/js/isotope.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
  <script src="/js/granim.min.js"></script>
  <script src="/js/twitterfetcher.min.js"></script>
  <script src="/js/spectragram.min.js"></script>
  <script src="/js/smooth-scroll.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/contactus.js"></script>
{{ else }}
  <script src="/dist/index.min.js" async="true"></script>
  <!-- Hotjar Tracking Code for https://www.improwised.com/ -->
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1039513,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    if ('ontouchstart' in document.documentElement) {
      document.addEventListener('touchstart', onTouchStart, {passive: true});
    }
    
  }, false);
  </script>
{{ end }}