{{ if ne .Site.Params.env "production" }}
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/flickity.min.js"></script>
  <script src="/js/easypiechart.min.js"></script>
  <script src="/js/parallax.js"></script>
  <script src="/js/typed.min.js"></script>
  <script src="/js/datepicker.js"></script>
  <script src="/js/isotope.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
  <script src="/js/granim.min.js"></script>
  <script src="/js/twitterfetcher.min.js"></script>
  <script src="/js/spectragram.min.js"></script>
  <script src="/js/smooth-scroll.min.js"></script>
  <script src="/js/scripts.js"></script>
{{ else }}
  <script src="/dist/index.min.js"></script>
{{ end }}
