
<div class="col-sm-6">
                            <div class="feature boxed boxed--lg boxed--border">
                                <!-- <i class="icon icon-Hand-Touch"></i> -->
                                <h4>Client Centric Approach</h4>
                                <hr>
                                <p>
                                    For us, our clients and their best interest are the only priority. We don’t look at our revenues when it is about benefiting our clients and never hesitate in recommending an off-shelve solution over our full-time employment services when needed.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-6">
                            <div class="feature boxed boxed--lg boxed--border">
                                <!-- <i class="icon icon-Hour"></i> -->
                                <h4>One Stop Solution</h4>
                                <hr>
                                <p>
                                    We believe in providing you with end-to-end services by removing the hassle of the multi-vendor model. We will become your technical backbone by providing top to bottom IT services so you can channelize all your resources into the growth of your business.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-6">
                            <div class="feature boxed boxed--lg boxed--border">
                                <!-- <i class="icon icon-Life-Safer"></i> -->
                                <h4>Build Future Ready Systems</h4>
                                <hr>
                                <p>
                                    We believe in developing solutions that can give you a competitive edge now and then. We use cutting-edge technologies and the latest tools in the process of developing state-of-the-art solutions to keep you, your system, and people future-ready.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-6">
                            <div class="feature boxed boxed--lg boxed--border">
                                <!-- <i class="icon icon-Life-Safer"></i> -->
                                <h4>Complete Transparency</h4>
                                <hr>
                                <p>
                                    We believe in keeping our clients informed during all stages of development and support. We use advanced communication tools such as Slack to provide hassle-free and quick communication with your hired technical engineers.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-6">
                            <div class="feature boxed boxed--lg boxed--border">
                                <!-- <i class="icon icon-Life-Safer"></i> -->
                                <h4>Early Adoption of Automation</h4>
                                <hr>
                                <p>
                                    Automation in various stages and process has its benefits. We usually adopt automation from the inception of the project to deliver positive benefits of monitoring, ongoing delivery, etc. to our clients to provide the best ROI and experience.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-6">
                            <div class="feature boxed boxed--lg boxed--border">
                                <!-- <i class="icon icon-Life-Safer"></i> -->
                                <h4>Highly Versatile Team</h4>
                                <hr>
                                <p>
                                    Our team believes in taking ownership of the project and each member of the team is well versed in their work of design, development, and support. Our team keeps itself upgraded to benefit our clients with the latest industry innovations.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
