::-moz-selection {
  background: #4cacdf;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #4cacdf;
  color: #fff;
  text-shadow: none;
}

/* Custom Style */
body {
  background-color: #2c2c2c;
}
h1 {
  font-family: 'ChevinLightRegular';
  font-weight: 1000;
  font-size: 55px;
  line-height: 70px;
  color: #888;
  text-shadow: 1px 1px 1px #4C4C4C;
}
h2 {
  font-family: 'MyriadProRegular';
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: white;
  font-style: italic;
}
h3 {
  color: #888;
}

#topBar {
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.leftBar {
  background-color: #79b022;
  width: 25%;
  height: 5px;
  float: left;
}
.rightBar {
  background-color: #4cacdf;
  right: 0;
  width: 75%;
  height: 5px;
  float: right;
}
#content {
  margin-top: 50px;
}
.wrapper {
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  width: 980px;
  clear: both;
  overflow: hidden;
}
#logo {
  display: block;
  margin: 0px auto;
}
#welcome h1,
#services h1,
#services h2,
#contact h2,
#jobs h2,
#jobs h3 {
  text-align: center;
  margin: 100px auto 100px auto;
  width: 800px;
}
#welcome .hello {
  margin: 60px auto 130px auto;
}
#jobs h3 {
  margin: 50px auto 50px auto;
}
#jobs .apply {
  margin: 60px auto 130px auto;
}

.section {
  height: 700px;
}
.hello {
  width: 156px;
  height: 24px;
  font-size: 20px;
  padding: 20px;
  border-radius: 35px 35px;
  display: block;
  background-color: #e4a693;
}
.apply {
  width: 250px;
  height: 24px;
  font-size: 20px;
  padding: 20px;
  border-radius: 35px 35px;
  display: block;
  background-color: #e4a693;
}

#contact {
  margin-bottom: 100px;
}

#address,
#address p,
.contactInfo {
  font-size: 18px;
}
#address,
.contactInfo {
  margin: 0 auto;
  color: #ccc;
  width: 380px;
  text-align: center;  
}
#address p {
  margin: 0;
}

.contactInfo i {
  margin-top: 4px;
}
.contactInfo span {
  margin-left: 5px;
}
.contactInfo .clear {
  margin: 5px 0;
}


#footer {
  height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ccc;
  z-index: 100;
  background-color: #2c2c2c;
}
#footer span {
  margin: 0 auto;
}

/* Custom Style Ends */
