<!doctype html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class=" " data-smooth-scroll-offset='64'>
        <a id="start"></a>
        {{ partial "navigation.html" . }}
        <!--  -->
        <div class="main-container careers">
          <section class="text-center heroUnit">
            <div class="container">
              <div class="row">
                <div class="col-sm-10 col-md-8">
                  <h1>{{.Title}}</h1>
                </div>
              </div>
              <!--end of row-->
            </div>
            <!--end of container-->
          </section>
          <section class="switchable bg--secondary">
            <div class="container currentOpening">
              <div class="row">
                <div class="col-sm-12">
                  <div class="heading-block">
                    <h3>Current Openings</h3>
                  </div>
                </div>
                <!-- Ranges through content/careers/*.md -->
                {{ range .Data.Pages }}
                  <div class="col-sm-4">
                    <div class="feature feature-1 boxed boxed--border">
                      {{if .Params.carrerSummary.time}}
                        <span class="label">{{.Params.carrerSummary.time}}</span>
                      {{end}}
                      <h5>{{.Title}}</h5>
                      {{if .Params.carrerSummary.text}}
                      <p>
                        {{.Params.carrerSummary.text}}
                      </p>
                      {{end}}
                      <a href="{{.RelPermalink}}">
                      View &amp; Apply
                      </a>
                    </div>
                    <!--end feature-->
                  </div>
                {{ end }}
              </div>
              <!--end of row-->
            </div>
            <!--end of container-->
          </section>
          <section>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="heading-block text-center">
                    <h2>Meet the Team</h2>
                  </div>
                </div>
                <!-- <div class="col-sm-6 col-md-5">
                  <ul class="accordion accordion-2 accordion--oneopen">
                    <li class="active">
                      <div class="accordion__title">
                        <span class="h5">Culture</span>
                      </div>
                      <div class="accordion__content">
                        <p class="lead">
                          Stack follows the BEM naming convention that focusses on logical code readability that is reflected in both the HTML and CSS. Interactive elements such as accordions and tabs follow the same markup patterns making rapid development easier for developers and beginners alike.
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="accordion__title">
                        <span class="h5">Benefits</span>
                      </div>
                      <div class="accordion__content">
                        <p class="lead">
                          Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                        </p>
                        <p class="lead">
                          Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="accordion__title">
                        <span class="h5">Learning</span>
                      </div>
                      <div class="accordion__content">
                        <p class="lead">
                          Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div> -->
                <!--end accordion-->
                <div class="row">
                  <div class="col-xs-12">
                    <div class="teamMarquee">
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end of row-->
            </div>
            <!--end of container-->
          </section>
          <section class="text-center switchable bg--secondary">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <div class="cta">
                    <h2>We're always looking for talent</h2>
                    <p class="lead">
                      Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="mailto:careers@improwised.com?subject=Dropped Resume for get job">
                    <span class="btn__text">
                    Drop your resume here
                    </span>
                    </a>
                  </div>
                </div>
              </div>
              <!--end of row-->
            </div>
            <!--end of container-->
          </section>
        </div>
        {{ partial "footer.html" . }}
        <!--  -->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        {{ partial "scripts.html" . }}
        {{ if eq .Site.Params.env "production" }}
            {{ template "_internal/google_analytics_async.html" . }}
        {{ end }}
    </body>
</html>
